.Spclcategories_container{
    background-color: whitesmoke;
    width:100%;
    max-width: 1400px;
    display: flex;
    margin: 50px auto;
    flex-direction: column;
    padding: 80px;
    gap:80px;
    height: 100dvh;
    font-size: 30px;
   
    

}

.Spclcategorys_header{
  display: flex;
  justify-content: space-between;
  gap:20px;
  align-items: center;
  width:100%;
  font-size: 30px;
  padding-top: 70px;
 
 @media (max-width: 1080px) {
        font-size: 20px;
        
    }

}

.btn{
    background-color: yellow;
    border: solid black 2px;
    width: 20%;
    height: 50px;
    text-align: center;
}


.Spclcategorys_cards_container{
    background-color:lightgoldenrodyellow;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3,minmax(200px,1fr));
    width:100%;
    padding: 10%;
    column-gap: 50px;
    align-items: center;
    border-radius: 10%;
   border: 2px solid black;
    

    @media (max-width: 1400px) {
      grid-template-columns: repeat(3, minmax(200px, 1fr));
        
    }

    @media (max-width: 1024px) {
         grid-template-columns: repeat(3, minmax(130px, 1fr));
        
    }
    @media (max-width: 750px) {
         grid-template-columns: repeat(3, minmax(120px, 1fr));
         column-gap: 30px;
         padding-left: 25px;
    }


    @media (max-width: 480px) {
         grid-template-columns: repeat(3, minmax(100px, 1fr));

   
    
}
}
.Spclcategorys_cards{
   background-color: yellow;
   text-align: center;
   height: 400px;
   font-size: 20px;
   border-radius: 10%;
   border: 2px solid black;
   
 @media (max-width: 700px) {
         grid-template-columns: repeat(3, minmax(100px, 1fr));
 }
}