/* Order.css */
.orders-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.orders-page_header {
  display: flex;
  justify-content: space-between;
}

.orders-page_orderRecord {
  display: flex;
  gap: 20px;
}

.orders-page_orderRecord_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  margin-top: 80px;
}

.orders-table th,
.orders-table td {
  border: 1px solid #ddd;
  padding: 10px;
  vertical-align: top;
}

.orders-table th {
  background-color: #1f2933;
  color: white;
  cursor: pointer;
}

.orders-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.order-items {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pagination {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

#data-row {
  cursor: pointer;
}

.status-filter {
  margin-top: 30px;
  width: 200px;
}
