.categories {
  display: flex;
  width: 100%;
  max-width: 1400px;
  flex-direction: column;
  margin: 50px auto;
  gap: 80px;
  padding: 20px;
}
.categories__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.btn {
  background-color: yellow;
  border: solid black 2px;
  width: 20%;
  height: 40px;
}

/* .categories__cardsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}

.categories__cards {
  background-color: orange;
  height: 220px;
  width: 210px;
  border-radius: 10%;
  border: 2px solid black;
} */

.categories__cardsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  row-gap: 40px;
  column-gap: 30px;

  @media (max-width: 1400px) {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}

.categories__cards {
  background-color: orange;
  height: 300px;
  border-radius: 10%;
  border: 2px solid black;

    @media (max-width: 480px) {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

.--blue {
  background-color: lightblue;
}
