.orders-page{
  display: flex;
  flex-direction: column;
}

.order-details-page {
  padding: 20px;
  max-width: 800px;
}

.order-details-page h2 {
  margin-bottom: 20px;
}

.card {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.card h3 {
  margin-bottom: 10px;
  color: #e53c27;
}

.card p {
  margin: 12px 0;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  width: 350px;
  text-align: center;
}

.modal h3 {
  margin-bottom: 10px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.confirm-btn {
  background-color: #e53c27;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #ccc;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.status-badge {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 13px;
  margin-bottom: 15px;
  font-weight: 600;
}

.status-badge.pending {
  background: #f1f1f1;
}

.status-badge.baking {
  background: #fff3cd;
  color: #856404;
}

.status-badge.sent_for_delivery {
  background: #f8d7da;
  color: #721c24;
}

.actions {
  display: flex;
  gap: 12px;
}

.baking-btn {
  background: #ff9800;
  color: #fff;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.delivery-btn {
  background: #e53c27;
  color: #fff;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
}

