.hero__container {
  width: 100%;
  height: 100dvh;
  background: linear-gradient(90deg, #e0b8ff 0%, #8e2497 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero__container-heading {
  font-size: 200px;
  color: white;

  @media (max-width: 1024px)
  {
    font-size: 100px;
  }
}



.hero__leafCon {
  width: 100%;
  position: absolute;
  top:110px;
  left: -20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__leafBox{
    width: 100%;
    max-width: 300px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero__donut {
  width: 100%;
  max-width: 700px;
}

/*.donuts {
  width : 20%;
  height:  30%;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 0%;
  padding-bottom: 0%;
  z-index: 1;
  
  /* justify-content: center;
  align-items: center;
} */
