.hero_container{
    width:100%;
    max-width: 1310px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    /* background-color: #fff6e7; */
    
}

.hero_content{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  position: relative;
}
.hero_content_first_line{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

.hero_content_para{
  color: darkorange;
  font-size: 30px;
  margin-bottom: 10px;
}

.hero_content_heading{
  font-size: 60px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.hero_serve{
  background-color: white;
  padding: 25px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid black;

}

.hero_buttons
{
  display: flex;
  align-items: center;
  gap: 50px;

}
.hero_playbtn{
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.hero_image{
  flex: 1;
}
.hero_image_blob{
  height: 75%;
  width: 40%;
  position: absolute;
  top:80px;
  right:0%;
  z-index: 1;

}
.hero_image_jelly{
 
  width: 80%;
  position: relative;
 left: 10%;
  z-index: 2;
  
}

