.navbar {
  width: 100%;
  max-width: 1280px;
  padding-inline: 20px;
  margin: 0 auto;
  min-height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_logo {
  width: 70px;
  height: auto;
}

.navlinks_container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navlinks {
  font-weight: 500;

  &:hover {
    color: #e53c27;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.navbar_btns {
  display: flex;
  gap: 15px;
  align-items: center;
}

.navbar_cart {
  font-size: 24px;

  &:hover {
    color: #e53c27;
  }
}

.navbar_menu {
  display: none;
  font-size: 24px;

  &:hover {
    color: #e53c27;
  }

  @media (max-width: 768px) {
    display: flex;
  }
}

.navbar_mobile-menu {
  display: none;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-inline: 20px;
    background-color: #e53c27;
    position: absolute;
    width: 100%;
    height: 100dvh;
    left: 0;
    top: 0;
  }
}

.navbar_mobile-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar_mobile-close {
  color: white;
  font-size: 24px;
}

.navbar_mobile-navlinks{
  height: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.navlinks-mobile{
  font-size: 28px;
  color: white;
}