.navbar {
 background-color: #e24f55;
 min-height: 70px;
 width:100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0 20px;
 
}

.navbar_logo {
  width:70px;
  height: auto;
  background: transparent;
}
.navbar_linksContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  background: transparent;
}

.navbar_links{
    text-decoration: none;
    color: white;
    outline: none;
    font-size: 18px;
    background-color: transparent;
  }