.navbar {
 background-color: #e24f55;
 min-height: 80px;
 width:100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0 20px;
 z-index: 100;
}

.navbar_logo {
  width:70px;
  height: auto;
}
.navbar_linksContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  
}

.navbar_links{
    text-decoration: none;
    color: white;
    outline: none;
    font-size: 18px;
    background-color: transparent;
   
    @media (max-width:600px){
        display: none;
        
    }

  }

.navbar_button {
    background-color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar_hamburger {
    display: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    
    @media (max-width:600px){
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.navbar_mobile {
    display: none;
    min-height: 100dvh;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    gap: 20px;
    background-color: white;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
      
    
    .navbar_mobile_close{
        display: none;
    
       }

    @media (max-width:600px){
        display: none;
       
       .navbar_mobile_close{
        display: flex;
        position: absolute;
        top: 20px;
        right: 15px;
        font-size: 30px;
        background-color: transparent;
        border: none;
       }

        .navbar_links{
            color: black;
            font-size: 30px;
            display: flex;
        }
    }
}
.showMobileMenu{
    display: flex !important;
}

